@import "tailwindcss";
@theme {
  --breakpoint-xs: 480px;
}
@layer base {
  body {
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    width: 100%;
  }
  .hero {
    background-image: url(./assets/img/frame.jpg);
  }
}
